html, body {
    margin:0;
    background: #303030;
}

/* Header block */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181818;
    outline: 2px gray solid;
}

.site-title,
.main-nav {
    align-items: flex-start;
}

.site-header a {
    text-decoration: none;
    color: azure;
    background: transparent;
}

.site-header a:hover {
    background: #303030;
}

.main-nav a {
    font-size: 20px;
    margin: 10px;
}

.auth-nav a {
    font-size: 20px;
}

/* Main block */
.site-main {
    display: flex;
    background: #303030;
}
