.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 5% auto;
    padding: 50px;
    background: #181818;
    border-radius: 50px;
    color: azure;
}

.auth-container img {
    width: 30%;
    height: auto;
}

.auth-container button {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    background: white;
    border: none;
}

.auth-link a {
    color: azure;
    background: transparent;
}

.auth-link a:hover {
    background: #303030;
}
